@use "sass:math";

// beer-colors:
$yellow: #ffda58;
$brown: #553333;
$red: #f85229;
$light_blue: #75b2ff;
$dark_blue: #3454d1;
$beige: #e8d2ae;
$pink: #e072a4;
$dark_green: #3ccb75;
$light_green: #ace365;
$orange: #ff912d;

$light: #fff;
$dark: #343331;

// ui-colors:
$bg_color: #fbfbfb;
$ui_color_dark: #343331;
$ui_color_light: #f4f4f4;
$ui_bg_color: #fff;

// Cosmetics
$ui-corners: 5px;
$ui-shadow: 2px 4px 7px rgba(0, 0, 0, 0.1);

// Icons
$icon-color-default: $dark;

// States
$error-background-color: $red;
$danger-background-color: $orange;
$success-background-color: $dark_green;

$spacing: 5rem;
$spacing--small: 2rem;
$spacing--xsmall: 1rem;
$flow-space: 1rem;
$bar-color: #df8d03;
$bar-chart-border-color: #c7c7c7;
$bar-background-color: #f4f4f4;
$bar-x-axis-color: #999999;

$breakpoint-small: 1024px;
$breakpoint-medium: 1100px;
$breakpoint-large: 1250px;

:root {
  --spacing: #{math.div($spacing, 3)};
  --spacing--small: #{math.div($spacing--small, 3)};
  --spacing--xsmall: #{math.div($spacing--xsmall, 3)};
  --beer-tap-chart-height: 400px;
}

@media (min-width: $breakpoint-medium) {
  :root {
    --spacing: #{$spacing};
  }
}
