@use "sass:math";

@use "../abstracts/vars";

:root {
  --spacing: #{math.div(vars.$spacing, 3)};
  --spacing--small: #{math.div(vars.$spacing--small, 3)};
  --spacing--xsmall: #{math.div(vars.$spacing--xsmall, 3)};
  --beer-tap-chart-height: 400px;
}

.statistics-grid {
  display: grid;
  padding: var(--spacing);
  gap: math.div(vars.$spacing, 3) * 2;

  @media (min-width: vars.$breakpoint-small) {
    height: 100%;
    grid-template-areas:
      "queue seved orders"
      "revenue revenue revenue";
    .revenue {
      grid-area: revenue;
    }
  }

  .revenue {
    // max-height: 450px;
    max-width: 100%;
    overflow: hidden;
    height: 500px;
  }

  .revenue_box {
    width: 100%;
    // height: 340px;
    // min-width: 500px;
    overflow-x: auto;

    display: grid;
    grid-template-columns: 70px auto auto 50px;
    // grid-template-rows: auto auto auto;
    grid-template-rows: 155px 155px 100px;
    grid-template-areas:
      "revenue_price chart_box chart_box ."
      "revenue_price chart_box chart_box ."
      ". revenue_time revenue_time hours";
    .revenue_time {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      width: 100%;
      // align-self: flex-end;
      grid-area: revenue_time;
      li {
        width: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
    }
    p {
      grid-area: hours;
      text-align: center;
    }
    .revenue_total {
      writing-mode: vertical-lr;
      background: vars.$dark_green;
      // transform: rotate(90deg);
      width: auto;
      height: 60px;
      margin: 0;
      display: flex;
      align-items: center;
      padding: 0.5em 0em;
    }
    .revenue_price {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      list-style-type: none;
      height: 100%;
      grid-area: revenue_price;
      li {
        padding-right: 5px;
      }
    }
    .chart_box {
      min-width: 500px;
      grid-area: chart_box;
      border-bottom: 1px solid vars.$ui_color_dark;
      border-left: 1px solid vars.$ui_color_dark;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      #curvechart {
        width: 100%;
        // height: 100%;
        height: 310px;
        position: relative;
      }
      #line {
        stroke-width: 1;
        stroke: vars.$dark_green;
        fill: none;
        stroke-dasharray: 1;
        transform: scaleY(-1) translateY(-300px);
      }
      span {
        color: tomato;
        text-align: center;
        margin: auto;
      }
    }
  }

  .queue_number,
  .served_number {
    font-size: 7rem;
    text-align: center;
    font-weight: 800;
  }
  .order_num_wrapper {
    margin-left: auto;
  }
  .bartender_name {
    font-weight: 400;
  }
}
