@use "sass:math";
@use "../abstracts/vars";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Train+One&display=swap");

:root {
  --spacing: #{math.div(vars.$spacing, 3)};
  --spacing--small: #{math.div(vars.$spacing--small, 3)};
  --spacing--xsmall: #{math.div(vars.$spacing--xsmall, 3)};
  --beer-tap-chart-height: 400px;
}

.statistics-grid {
  display: grid;
  padding: var(--spacing);
  gap: math.div(vars.$spacing, 3) * 2;

  @media (min-width: vars.$breakpoint-small) {
    // height: 100%;
    grid-template-areas:
      "revenue revenue revenue"
      "queue seved orders";
    .revenue {
      grid-area: revenue;
    }
  }

  .revenue {
    max-width: 100%;
    overflow: hidden;
    // height: 500px;
    display: grid;
    grid-template-rows: 15% auto auto;
    grid-template-areas:
      "revenue_header revenue_header revenue_header"
      "revenues_wrapper revenues_wrapper revenues_wrapper"
      "revenue_box revenue_box revenue_box";
    @media (min-width: vars.$breakpoint-small) {
      grid-template-rows: 10% auto auto;
      grid-template-areas:
        "revenue_header revenue_box revenue_box"
        "revenues_wrapper revenue_box revenue_box"
        "revenues_wrapper revenue_box revenue_box";
    }

    .revenue_header {
      grid-area: revenue_header;
    }
    .revenues_wrapper {
      display: flex;
      grid-area: revenues_wrapper;
      @media (min-width: vars.$breakpoint-small) {
        flex-direction: column;
        justify-content: space-evenly;
      }
      :first-child {
        margin-right: 30px;
      }
    }
    .total,
    .hourly {
      font-size: 1.7rem;
      font-weight: 700;
      color: vars.$ui_color_dark;
    }
    h4 {
      text-transform: uppercase;
      // font-size: 0.7rem;
      font-weight: 400;
    }
  }

  .revenue_box {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 70px;
    grid-area: revenue_box;
    display: grid;
    grid-template-areas:
      "kr chart chart"
      "kr chart chart"
      ". h h";
    grid-template-columns: 15px auto auto;

    .h {
      text-align: center;
      grid-area: h;
    }

    .kr {
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      text-align: center;
      grid-area: kr;
    }

    p {
      font-size: 0.7rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    .graph-svg-tip.comparison {
      background: vars.$ui_color_light;
      font-family: "Poppins", sans-serif;
      border-radius: 5px;
      box-shadow: 2px 4px 7px rgb(0 0 0 / 10%);
      .tooltip-legend {
        display: none;
      }
      .tooltip-value {
        color: vars.$ui_color_dark;
        font-size: 1.5rem;
      }
      .tooltip-label {
        color: vars.$ui_color_dark;
        font-size: 0.8rem;
        margin-bottom: 10px;
        font-weight: 400;
      }
      .data-point-list > li > div:last-child {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .svg-pointer {
      background: vars.$ui_color_light;
      box-shadow: 2px 4px 7px rgb(0 0 0 / 10%);
    }
  }

  .queue_number,
  .served_number {
    font-size: 7rem;
    text-align: center;
    font-weight: 800;
  }
  .order_num_wrapper {
    margin-left: auto;
    padding: 0.2em 1em;
    width: 50px;
    border-radius: 2em;
    background-color: vars.$error-background-color;
    color: vars.$ui_bg_color;
    font-size: 0.8rem;
    text-align: center;
  }
  .bartender_name {
    font-weight: 600;
    text-transform: none;
    color: vars.$ui_color_dark;
  }
  .bartenders_wrapper {
    height: 100%;

    .js-bartender-order-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.nowrap {
  white-space: nowrap;
}
