@use "../abstracts/vars";

nav {
  margin: auto;
}
#menubar {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 1.5rem;
  list-style: none;
  margin: 0;
  gap: 1.5rem;
  width: 200px;
  justify-content: space-between;

  li:hover {
    cursor: pointer;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    color: vars.$ui_color_dark;

    :visited {
      color: vars.$ui_color_dark;
    }

    .icon {
      padding: 10px 10px;
      border: 1px solid #f4f4f4;
      border-radius: 50%;
      text-align: center;
      background-color: #f4f4f4;
      display: flex;

      svg {
        fill: vars.$icon-color-default;
      }
    }

    .text {
      @media (max-width: 499px) {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    }

    &.is-active {
      .icon {
        background-color: vars.$dark;

        svg {
          fill: #fff;
        }
      }
    }
  }

  @media (min-width: 680px) {
    justify-content: center;
    gap: 5rem;
  }

  @media (min-width: vars.$breakpoint-medium) {
    gap: 1.5rem;
  }
}

@media (max-width: vars.$breakpoint-medium - 1) {
  #menubar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: initial;
    bottom: 0;
    top: initial;
    padding: 12px 1rem;
    position: fixed;
    filter: drop-shadow(2px 4px 7px rgba(0, 0, 0, 0.1));
    background-color: #ffffff;
    z-index: 1;

    li.logo {
      padding: 0;
      border: none;
      border-radius: none;
      background-color: #ffffff;
      text-align: center;
      margin-bottom: initial;
      align-self: flex-start;

      img {
        width: auto;
        height: 46px;
      }
    }
  }
}
