@use "../abstracts/vars";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Train+One&display=swap");

body {
    font-family: "Poppins", sans-serif;
}
h1 {
    font-family: "Train One", cursive;
    color: vars.$ui_color_dark;
    text-transform: uppercase;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: vars.$ui_color_dark;
    text-transform: uppercase;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: vars.$ui_color_dark;
    text-transform: uppercase;
}

h4 {
    font-weight: 600;
    color: vars.$ui_color_dark;
}

p,
li {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: vars.$ui_color_dark;
}
button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

a:visited {
    color: inherit;
}

li h3 {
    font-size: 1rem;
}
